
<!-- <br> -->
  <h1 mat-dialog-title class="text-center">Add To Cart</h1>
<!-- <br> -->

  <mat-dialog-content class="mat-typography mt-1">
    <kendo-grid [data]="CartData"
    (edit)="editHandler($event)"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
    >
    <ng-template kendoGridToolbarTemplate>
      <button mat-raised-button mat-dialog-close color="primary" routerLink="/Master/offline" [state]="[CartData,'Offline']" [disabled]="ButtonActive" >Order Your Cart</button>
      <!-- <button kendoGridAddCommand>Add new</button> -->
    </ng-template>
      <!-- <kendo-grid-column field="id" title="ID"> </kendo-grid-column> -->
      <kendo-grid-column field="title" title="Title" [editable]="false"> </kendo-grid-column>

      <kendo-grid-column title="Image" [editable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- Binding Images Under Condition Using *ngif Directive -->
          <img src="{{'assets/Images/Books/' + dataItem.image}}" alt="Img" *ngIf="dataItem.reqID == 100"
          height="100px" width="100px">

          <img src="{{'assets/Images/Computers/' + dataItem.image}}" alt="Img" *ngIf="dataItem.reqID == 200"
          height="100px" width="100px">

          <img src="{{'assets/Images/Fashion/' + dataItem.image}}" alt="Img" *ngIf="dataItem.reqID == 300"
          height="100px" width="100px">
          <!-- Binding Images Under Condition Using *ngif Directive -->
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="price" title="Price" [editable]="false">
        <ng-template kendoGridFooterTemplate let-column="column">
          Total Price  :   {{TotalPrice}}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="quantity" title="Qty" editor="numeric">
        <ng-template kendoGridFooterTemplate let-column="column">
          Total Quantity  :  {{TotalQuantity}}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-command-column title="Actions">
        <ng-template kendoGridCellTemplate>
          <button class="btnStyleEdit" kendoGridEditCommand >Edit</button>
          <button class="btnStyle" kendoGridRemoveCommand >Remove</button>
          <button class="btnStyleCan" kendoGridCancelCommand >Cancel</button>
          <button class="btnStyleSave" kendoGridSaveCommand >Save</button>
            <!-- more command buttons here -->
        </ng-template>
    </kendo-grid-command-column>

    </kendo-grid>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary" class="btnStyle">Cancel</button>
  </mat-dialog-actions>
