<!-- <p>maintainance works!</p> -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
</style>

<!-- <img src="assets/Error/maintain.jpg" alt="Maintainance Page"> -->

<div class="container">

  <div class="img-container">

  </div>
  <div class="content">
      <div class="title text-center">
        <h1>This Part of Website is Under Maintainance</h1>
      </div>
      <div class="buttons mt-3">
        <button mat-raised-button color="accent" routerLink="/Master/home">Go Back To Home Page</button>
      </div>
  </div>
</div>
