.container{
  height: auto;
  justify-content: space-around;
}

.imgStyle{
  width: 24%;
  height: 8%;
}


.img-fluid{
  height: 300px;
}

.para{
  height:60px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;
}
