<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light myStyle">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="#">MicroServices</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      >
      <!-- #basicNavbar="mdbCollapse" -->
      <!-- Left links -->
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="#"><i class="bi bi-house-door-fill"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/book"><i class="bi bi-shop"></i> Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"><i class="bi bi-pc-display-horizontal"></i> Computers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"><i class="bi bi-cart4"></i> Fashion</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" routerLink="#" tabindex="-1" aria-disabled="true"
            >Disabled</a
          >
        </li> -->
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Type query"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary btnStyle" type="button">
          Search
        </button>
      </form>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
