<!-- <p>book works!</p> -->
<div class="container d-flex flex-wrap">

  <!-- Element -->
  <div class="card imgStyle mt-2 mb-2">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
      <!-- <img src="assets/Images/login.png" class="img-fluid"/> -->
      <a routerLink="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="#!" class="btn btn-primary">Button</a>
    </div>
  </div>
  <!-- Element -->

</div>

