<!-- <p>fash works!</p> -->

<div class="container d-flex flex-wrap">

  <!-- Element -->
   <div class="card imgStyle mt-2 mb-2 border-info" *ngFor="let item of FashList">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="assets/Images/Fashion/{{item.image}}" class="img-fluid" width="100%"/>
      <a routerLink="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h2 class="card-title text-center">{{item.title}}</h2>
      <p class="card-text para">{{item.description}}</p>
      <h4 class="card-text text-center">{{item.price}} &#8377; </h4>
      <div class="container d-flex justify-content-between">
        <a routerLink="/order" [state]="item" class="btn btn-danger">Order Now</a>
        <a  class="btn btn-success" (click)="AddToCart(item)">Add To Cart</a>
      </div>
    </div>
  </div>
  <!-- Element -->

</div>

