.order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  /* max-width: 650px; */
  max-width: 100%;
}

.order-form-label {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

.order-form-input,
.form-label,
.form-check-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

.btn-submit:hover {
  background-color: #0D47A1 !important;
}


/* My Css */

section{
  /* background: #afd2ee; */
  background-image: linear-gradient(to top, #5493f3, #00b8f9, #00d3da, #6fe5b0, #d2ef97);
}

.container{
  background: white;
}

.ProductName{
  width: 96%;
  height: auto;
  color: #f2852c;
}

input{
  border: 1px solid black;
}

.midBtn{
    width: 70%;
}

.longBtn{
    width: 100%;
}
